.adoption-selected-field {
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
  height: 15px;
  padding: 2px 5px 2px 5px;
}

.adoption-form {
  position: relative;
  width: 350px;
  margin: 0 auto;
}

.adoption-form li {
  display: inline-block;
  vertical-align: middle;
}

.adoption-input-person, .adoption-input-animal {
  margin: 5px;
}

.adoption-form button {
  border: 1px solid lightgrey;
  background: white;
  margin: 5px;
  border-radius: 5px;
}

.adoption-form .adoption-button {
  margin-top: 15px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  font-size: 16px;
  left: 40%;

}

.adoption-label-wrapper {
  margin-top: 10px;
  float: left;
}

.adoption-fields-wrapper {
  float: right;
}
