body {
  font-size: 13px;
}

h5.heading {
  display: block;
  margin: 5px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 14px;
  color: white;
  background: navy;
}

div.app {
  margin-left: 15px;
}

div.app-container {
  width: 1025px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
