.edit-cat-form-container {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.edit-cat-form label {
display: block;
}

.edit-cat-form select {
  display: block;
  border: 1px solid black;
}
.edit-cat-form input {
  padding: 3px;
  display: block;
  border-radius: 3px;
  border: 1px solid black;
}

.edit-cat-form button {
  margin: 10px 0 10px 0;
}
