.errors {
    animation: cssAnimation 1.5s ease-in 1s forwards;
    animation-fill-mode: forwards;
    color: red;
    padding: 10px;

}
@keyframes cssAnimation {
  0% {
   opacity: 1;
 }
 50% {
   opacity: 0;
 }
 99.9% {
   opacity: 0;
   height: 200px;
 }
 100% {
   opacity: 0;
   height: 0;
 }
}
@-webkit-keyframes cssAnimation {
  0% {
   opacity: 1;
 }
 50% {
   opacity: 0;
 }
 99.9% {
   opacity: 0;
   height: 200px;
 }
 100% {
   opacity: 0;
   height: 0;
 }
}
