.header {
  margin: 5px 5px 5px 10px;
  width: 1000px;
  padding: 5px;
  font-size: 14px;
}

.user-button {
  position: relative;
  display: block;
  float: left;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 3px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px;
}

.user-logout {
  position: absolute;
  color: white;
  top: 30px;
  left: 5%;
  border-radius: 5px;
}
