.header {
  margin: 5px 5px 5px 10px;
  width: 900px;
  /*border: 1px solid black;*/
  padding: 5px;
  font-size: 14px;
}

.user-button {
  position: relative;
  display: block;
  float: left;
  margin-left: 10px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px;
}

.user-logout {
  position: absolute;
  top: 35px;
  left: 30%;
}
