.quicklinks-bar {
  width: 700px;
  float: left;
}

.quicklinks-bar a:not(:first-child) {
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid lightgrey;
  float: left;
}

.quicklinks-bar #logo {
  float: left;
  margin-left: -10px;
  height: auto;
  width: auto;
  max-width: 75px;
  max-height: 100px;
}

.quicklinks-bar a:hover {
  background: lightblue;
  color: white;

}
