.quicklinks-bar {
  width: 700px;
  float: left;
}

.quicklinks-bar a:not(:first-child) {
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid lightgrey;
  float: left;
}

.quicklinks-bar #logo {
  border: 1px solid lightgrey;
  padding: 1px;
  float: left;
  height: auto;
  width: auto;
  margin-top: -2px;
  margin-right: 7px;
  max-width: 33px;
  max-height: 33px;
}

.quicklinks-bar a:hover {
  background: lightblue;
  color: white;

}
