.record-categories {
  border: 1.5px solid grey;
  border-radius: 5px;
  margin: 8px;
  padding: 2px;
  width: 95%;
}

.record-categories li {
  display: block;
  float: left;
  border: 1.5px solid grey;
  border-bottom: 0;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  margin: 1px;
}
