.record-summary {
  border: 1px solid grey;
  margin: 8px;
  padding-top: 25px;
  padding-left: 15px;
  border-radius: 5px;
  width: 95%;
}

.record-summary-name {
  font-size: 26px;
  font-weight: bold;
}

.record-summary {
  line-height: 1.5;
}

.summary-columns ul{
  display: block;
  float: left;
  width: 33%;
}

.summary-left-column * {
  display: block;
  float: left;
}

.summary-left-column #name-sex li {
  display: block;
  float: none;
  padding: 10px;
}

/*.summary-middle-column strong {
  float: right;
  display: block;
  margin-right: 130px;
}*/

.record-summary-available {
  color: #E54242;
  width: 95%;
  height: 45px;
  margin: 5px 5px 5px 0;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  border: 1px solid red;
}

.record-summary .profile-image {
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;

}
