.record-summary {
  border: 1px solid grey;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.record-summary-name {
  font-size: 26px;
  font-weight: bold;
}

.record-summary-available {
  color: #E54242;
  width: 425px;
  height: 45px;
  float:right;
  display: block;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  border: 1px solid red;
}

.record-summary .profile-image {
  border: 1px solid black;
  margin-top: 3px;
  width: 73px;
  height: 50px;
}

.record-summary .profile-image-container {
  display: block;
  margin: 0px auto;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  width: 80px;
  height: 60px;
  box-shadow: 2px 2px 2px grey;
  border: 1px solid black;
}
