.animal-content h5 {
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}
.animal-content h5.active-subcategory {
  background: navy;
  color: white;
}

.animal-content .details-description {
  display: block;
  width: 500px;
  margin: 25px auto;
}
.animal-content .details-description textarea {
  width: 400px;
  height: 150px;
}
