.record-categories {
  border: 1.5px solid grey;
  border-radius: 5px;
  margin: 8px;
  margin-bottom: 15px;
  padding: 2px;
  width: 95%;
}

.record-categories li > a {
  display: block;
  font-size: 15px;
  float: left;
  border: 1.5px solid grey;
  border-bottom: 0;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  margin: 1px;
}

.record-categories li > a:hover {
  background: lightblue;
  color: white;

}

.record-categories .active-category {
  background: navy;
  color: white;
}
