html, body, ul, li, div, a, h1, h2, h3, h4, h5, header, input, select {
  padding: 0;
  margin: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;

}

body {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h4 {
  font-size: 13px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

h5 {
  font-weight: 400;
  font-size: 13px;
}

ul {
  list-style: none;
}

header {
  text-align: center;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer > span {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 8px;
  line-height: 20px;
}

footer > span > a {
  color: #059;
  text-decoration: none;
}

footer > span > a:hover {
  text-decoration: underline;
  color: darkred;
}

footer > a > img {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 0;
}
