html, body, ul, li, div, a, h1, h2, h3, h4, h5, header, input, select {
  padding: 0;
  margin: 0;
  border: 0;

  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;

}

body {
  font-family: 'Helvetica' sans-serif;
}

ul {
  list-style: none;
}

header {
  text-align: center;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
