.shelter-summary {
  margin: 10px;
  font-size: 14px;
}

.shelter-summary h3 {
  width: 85%;
  font-weight: bold;
  display: block;
  border-bottom: 1px dotted black;
  padding: 5px;
  margin-bottom: 15px;
}


.shelter-items {
  line-height: 15px;
}

.summary-updated-at {
  font-size: 13px;
  font-weight: lighter;
  display: inline;
  color: gray;
  margin-right: 3px;
}
