.sign-up-form {
  position: relative;
  box-shadow: 2px 2px 2px grey;
  padding: 45px;
  width: 300px;
  font-size: 12px;
  margin: 350px auto;
  border: 1px solid black;
}

.sign-up-form label {

}

.sign-up-form h1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: -15px;
}

.sign-up-form input {
  border: 1px solid black;
  margin: 2px;
  padding: 5px;
}


.sign-up-form button {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  left: 50px;
  padding: 5px;
  font-size: 14px;
  color: white;
}

.sign-up-form h4 {
  font-weight: 400;
}

.sign-up-form h4 > a {
  font-weight: bold;
  color: blue;
}

.sign-up-form h4 #guest {
  color: red;
}
